@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

html,
body {
    font-family: var(--font-family);
    color: var(--text-color-primary);
    background-color: var(--white);
}

a {
    color: currentColor;
}

.wrapper {
    min-height: 100vh;
    overflow: hidden;

    &__info {
        margin-bottom: 35px;
    }
}

.container {
    max-width: 1305px;
    padding: 0 15px;
    margin: 0 auto;

    &--lg {
        max-width: 1400px;
    }
    &--small {
        max-width: 1095px;
    }
    &--mobile {
        max-width: 350px;
    }
    &--right {
        max-width: unset;
        padding-left: calc((100% - 1305px) / 2);
        padding-right: unset;
    }
}

.none {
    display: none !important;
}
