:root {
    --font-family: 'Montserrat', sans-serif;
    --text-color-primary: #140202;
    --text-color-secondary: #111010;
    --text-color-accent-primary: #e02927;
    --text-color-accent-secondary: #f8c67d;

    --black: #000;
    --white: #fff;

    --btn-bg: #460d09,
        linear-gradient(180deg, #f42c2b 0%, rgba(0, 0, 0, 0) 100%);

    --info-bg: #420707;
}
