.header {
    position: relative;

    min-height: clamp(33.125rem, 19.167rem + 46.53vw, 75rem);
    padding: 20px 0 0px;
    overflow: hidden;

    background-image: url('./../img/header/header-bg.jpg');

    background-size: cover;
    background-repeat: no-repeat;

    @media (max-width: 1440px) {
        background-position: center center;
    }

    &__benefit {
        position: absolute;
        z-index: 10;
        transform: translateX(50%);

        font-size: clamp(0.75rem, 0.375rem + 1.25vw, 1.5rem);
        font-weight: 600;
        color: var(--white);

        // @media (max-width: 700px) {
        //     width: 115px;
        // }

        &:first-child {
            top: calc(470 * 100% / 1015);
            left: calc(300 * 100% / 1920);
            width: clamp(6.25rem, 3.125rem + 10.42vw, 12.5rem);

            @media (max-width: 485px) {
                left: unset;
                transform: none;
            }
        }
        &:nth-child(2) {
            top: calc(585 * 100% / 1015);
            left: calc(250 * 100% / 1920);
            width: clamp(5.313rem, 2.5rem + 9.38vw, 10.938rem);

            @media (max-width: 485px) {
                left: unset;
                transform: none;
            }
        }
        &:nth-child(3) {
            left: calc(150 * 100% / 1920);
            bottom: calc(245 * 100% / 1015);
            width: clamp(9.063rem, 5.156rem + 13.02vw, 16.875rem);

            @media (max-width: 485px) {
                left: unset;
                transform: none;
            }
        }
        &:nth-child(4) {
            left: calc(200 * 100% / 1920);
            bottom: calc(150 * 100% / 1015);

            @media (max-width: 485px) {
                left: unset;
                transform: none;
            }
        }
    }

    &::before {
        content: url('./../img/header/header-decor-top.svg');
        position: absolute;
        top: 0;
        left: 0;
    }
    &::after {
        content: url('./../img/header/header-decor-bottom.svg');
        position: absolute;
        bottom: 0;
        right: 0;
    }

    &::before,
    &::after {
        @media (max-width: 992px) {
            display: none;
        }
    }

    &__body {
        position: relative;
    }

    &__title {
        max-width: 1010px;
        margin-bottom: 25px;

        font-weight: 700;
        font-size: clamp(1.5rem, 0.25rem + 4.17vw, 4rem);

        color: var(--white);

        & span {
            color: var(--text-color-accent-secondary);
        }

        @media (max-width: 992px) {
            font-weight: 900;
        }
        @media (max-width: 485px) {
            line-height: 1;
            margin-bottom: 5px;
        }
    }

    &__sub-title {
        max-width: 550px;

        font-size: clamp(0.75rem, 0.321rem + 2.14vw, 2.25rem);
        color: var(--white);

        &:nth-child(2) {
            @media (max-width: 480px) {
                display: none;
            }
        }

        &:nth-child(3) {
            display: none;

            @media (max-width: 480px) {
                display: block;
            }
        }
    }

    &__img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 10%);

        width: clamp(17.188rem, 6.313rem + 36.25vw, 38.938rem);
        height: clamp(17.188rem, 6.313rem + 36.25vw, 38.938rem);

        @media (max-width: 470px) {
            transform: translate(-50%, 30%);
        }
    }
}
