.how-info {
    &__body {
        border-radius: 15px;
        overflow: hidden;
    }
    &__img {
        @media (max-width: 480px) {
            display: none;
        }

        &--hidden {
            display: none;
            @media (max-width: 480px) {
                display: block;
            }
        }
    }
}
